.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #9acc77;
  opacity: 1;
  border: 1px solid #aaaaaa;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #398860;
}

.clients .swiper-slide img {
  opacity: 0.5;
  transition: 0.3s;
  filter: grayscale(100);
}

.clients .swiper-slide img:hover {
  opacity: 1;
  filter: none;
}

@media screen and (max-width: 500px) {
  .content-section #clients{
    display: block;
  }
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}